html{
	background-color: rgb(64, 95, 52);
	font-family: fantasy;
}

#title{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 1;
	font-size: 1.875rem;
	line-height: 4.6875rem;
	color: white
}

.menu-object{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-area: 1 / col2-start / 2 / last-line;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 18.75rem;
	height: 4.6875rem;
	font-size: 1.125rem;
	margin-top: 0.625rem;
}

p{
	text-align: center;
}

button{
	background-color: rgb(206, 238, 147);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
	border: 0.125rem solid #ffffff;
	border-radius: 1.875rem;
	box-shadow: #000000 0.375rem 0.375rem 0 0;
}

button.menu-object:active{
	font-size: 1.25rem;
	width: 17.1875rem;
	height: 4.375rem;
	background-color: rgb(118, 182, 81);
}

button.menu-object:hover:not(:active){
	font-size: 1.625rem;
	width: 20.3125rem;
	height: 5.3125rem;
	background-color: rgb(240, 255, 222);
}

div{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	margin-bottom: 3.125rem;
}